= form_for([@pack, @pack.profiles.build]) do |f|

  = f.label :name
  = f.text_field :name

  = f.label :generate_name
  = f.check_box :generate_name

  = f.label :age
  = f.text_field :age

  = f.label :occupation
  = f.text_field :occupation

  = f.label :living_situation
  = f.text_field :living_situation

  = f.label :quote
  = f.text_field :quote

  = f.label :description
  = f.text_area :description

  = f.label :ability
  = f.text_field :ability

  = f.label :aptitude
  = f.text_field :aptitude

  = f.label :attitude
  = f.text_field :attitude

  = f.label :bigger_picture
  = f.text_field :bigger_picture

  = f.label :considerations
  = f.text_area :considerations

  = f.fields_for :scalers do |builder|
    = render 'scaler_fields', f: builder

  = link_to_add_fields "Add a scaler", f, :scalers

  %br/
  = f.submit :class => 'button'

