= form_for([@pack, @profile]) do |f|

  - if @profile.errors.any?
    .block#error_explanation
      %h2
        = pluralize(@profile.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg

  .overview
    .basics
      .block

        = f.label :name
        = f.text_field :name

        = f.label :generate_name
        = f.check_box :generate_name

        = f.label :age
        = f.text_field :age

        = f.file_field :image

        = f.label :description
        = f.text_area :description

        = f.label :living_situation
        = f.text_field :living_situation

        = f.label :occupation
        = f.text_field :occupation

        = f.fields_for :basic_repeatables do |builder|
          = render 'basic_repeatable_fields', f: builder

        = link_to_add_fields "Add more basic information", f, :basic_repeatables
        .clear
        %br
        = f.fields_for :scalers do |builder|
          = render 'scaler_fields', f: builder
        = link_to_add_fields "Add scaler", f, :scalers
        .clear
        %br
        = f.fields_for :quotes do |builder|
          = render 'quote_fields', f: builder

        = link_to_add_fields "Add quote", f, :quotes

        = f.fields_for :images do |builder|
          = render 'image_fields', f: builder
        = link_to_add_fields "Add another image", f, :images

      %br
      .block= f.submit :class => 'button full'
      %br

    .quote
      = f.label :quote
      = f.text_field :quote

    .right
      .characteristics
        .block
          %h2 Characteristics

          = f.label :characteristics
          = f.text_area :characteristics

          = f.label :oppertunities, "Opportunities"
          = f.text_area :oppertunities

          = f.label :cautions
          = f.text_area :cautions

          = f.fields_for :characteristic_repeatables do |builder|
            = render 'characteristic_repeatable_fields', f: builder

          = link_to_add_fields "Add more characteristic information", f, :characteristic_repeatables

      .detail
        .block
          %h2 Detail
          = f.label :background
          = f.text_area :background

          = f.label :motivation
          = f.text_area :motivation

      .summary
        .block
          %h2 Summary
          = f.label :summary, "To convince them"
          = f.text_area :summary

