= form_for([@pack, @profile]) do |f|

  %h2 Basic

  = f.file_field :image

  = f.label :name
  = f.text_field :name

  = f.label :generate_name
  = f.check_box :generate_name

  = f.label :age
  = f.text_field :age

  = f.label :description
  = f.text_area :description

  = f.label :quote
  = f.text_field :quote

  = f.label :living_situation
  = f.text_field :living_situation

  = f.label :occupation
  = f.text_field :occupation

  = f.fields_for :basic_repeatables do |builder|
    = render 'basic_repeatable_fields', f: builder

  = link_to_add_fields "Add more basic information", f, :basic_repeatables


  %h2 Characteristics

  = f.label :characteristics
  = f.text_field :characteristics

  = f.label :oppertunities
  = f.text_field :oppertunities

  = f.label :cautions
  = f.text_field :cautions

  = f.fields_for :characteristic_repeatables do |builder|
    = render 'characteristic_repeatable_fields', f: builder

  = link_to_add_fields "Add more characteristic information", f, :characteristic_repeatables



  %h2 Detail

  = f.label :background
  = f.text_field :background

  = f.label :motivation
  = f.text_field :motivation

  = f.fields_for :scalers do |builder|
    = render 'scaler_fields', f: builder

  = link_to_add_fields "Add scaler", f, :scalers

  = f.fields_for :quotes do |builder|
    = render 'quote_fields', f: builder

  = link_to_add_fields "Add quote", f, :quotes

  = f.submit :class => 'button'

