= form_for @profile do |f|

  - if @profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@profile.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @profile.errors.full_messages.each do |msg|
          %li= msg

  = f.label :name
  = f.text_field :name

  = f.label :age
  = f.text_field :age

  = f.label :occupation
  = f.text_field :occupation

  = f.label :living_situation
  = f.text_field :living_situation

  = f.label :quote
  = f.text_field :quote

  = f.label :description
  = f.text_area :description

  = f.label :ability
  = f.text_field :ability

  = f.label :aptitude
  = f.text_field :aptitude

  = f.label :attitude
  = f.text_field :attitude

  = f.label :bigger_picture
  = f.text_field :bigger_picture

  = f.label :considerations
  = f.text_area :considerations

  = f.label :pack
  = f.text_field :pack

  = f.submit :class => 'button'

