- @profiles.each do |profile|
  %a.profile{:href => profile_path(profile)}
    .image
    %h2=profile.name
    .basics
      = profile.age
      = profile.occupation

    %p= profile.description
    %p= profile.living_situation
    %p= profile.quote

    %p.pack= profile.pack
