.intro
  %h1 Who are you designing for?

.main
  .wide-container
    %a{:href => new_profile_path}
      .profile.add
        .image

    .clear
    - @profiles.each do |profile|
      %a{:href => profile_path(profile)}
        .profile
          .image
          %h2=profile.name
          .basics
            = profile.age
            = profile.occupation

          %p= profile.description
          %p.strength= profile.strength
          %p.weakness= profile.weakness
          %p= profile.considerations
          %p.pack= profile.pack
