- @profiles.each do |profile|
  %a.profile{:href => profile_path(profile)}
    .image
    %h2=profile.name
    .basics
      = profile.age
      = profile.occupation

    %p= profile.description
    %p= profile.living_situation
    %p= profile.interests
    %p= profile.quote
    %p= profile.ability
    %p= profile.aptitude
    %p= profile.attitude
    %p= profile.bigger_picture
    %p= profile.considerations
    %p.pack= profile.pack
