.intro
  %h1 Who are you designing for?

.main
  .wide-container
    %a{:href => new_profile_path}
      .profile.add
        .image

    .clear
    - @profiles.each do |profile|
      %a{:href => profile_path(profile)}
        .profile
          .image
          %h2=profile.name
          .basics
            = profile.age
            = profile.occupation

          %p= profile.description
          %p= profile.living_situation
          %p= profile.interests
          %p= profile.quote
          %p= profile.ability
          %p= profile.aptitude
          %p= profile.attitude
          %p= profile.bigger_picture
          %p= profile.considerations
          %p.pack= profile.pack
