
.overview
  .basics
    %h1=@profile.name
    -if @profile.image?
      .image{:style => "background-image:url(#{@profile.image.url})"}
    .title-block
      %h2 Basic info
    .block
      %p
        %span
          Age:
        = @profile.age

      - unless @profile.occupation.blank?
        %p
          %span
            Position:
          = @profile.occupation

      - unless @profile.living_situation.blank?
        %p
          %span
            Living situation:
          = @profile.living_situation
      %i= @profile.pack.name

    - unless @profile.basic_repeatables.blank?
      .block
        - @profile.basic_repeatables.each do |br|
          %p
            %span= br.name + ":"
            = br.content

    - unless @profile.scalers.blank?
      .block
        - @profile.scalers.each do |scaler|
          .scaler
            %h2= scaler.name
            .scale-background
              .scale
            %p
              %span.quantity= scaler.scale
              %span /
              %span.total= scaler.out_of
              .clear
              %br

    - unless @profile.quotes.blank?
      .block
        - @profile.quotes.each do |q|
          %blockquote= q.quote

    - unless @profile.images.blank?
      - @profile.images.each do |i|
        .image{:style => "background-image:url(#{i.repeatable_image.url})"}


    -if user_signed_in?
      .clear
      %br
      =link_to 'Edit Profile', edit_pack_profile_path(@pack, @profile)
      =link_to 'Delete Profile', [@profile.pack, @profile],
        method: :delete,
        data: { confirm: 'Are you sure?' }

  .quote
    %p= @profile.quote
  .right
    .title-block
      %h2 Characteristics
    .characteristics.grid.js-masonry
      - unless @profile.description.blank?
        .block.grid-item
          %h2 Description
          = markdown(@profile.description)

      - unless @profile.characteristics.blank?
        .block.grid-item
          %h2 Characteristics
          = markdown(@profile.characteristics)

      - unless @profile.oppertunities.blank?
        .block.grid-item
          %h2 Opportunities
          =markdown(@profile.oppertunities)

      - unless @profile.cautions.blank?
        .block.grid-item
          %h2 Cautions
          = markdown(@profile.cautions)

      - unless @profile.characteristic_repeatables.blank?
        - @profile.characteristic_repeatables.each do |cr|
          .block.grid-item
            %h2= cr.name
            = markdown(cr.content)


    .title-block
      %h2 Details
    .detail.grid.js-masonry
      - unless @profile.background.blank?
        .block.grid-item
          %h2 Background
          = markdown(@profile.background)

      - unless @profile.motivation.blank?
        .block.grid-item
          %h2 Motivation
          = markdown(@profile.motivation)


