%h1 Who are you designing for?
%br

%section.featured
  %h2 Random personas

  - @packs.each do |pack|
    - pack.profiles.each do |profile|
      %a.card.profile.view{href: pack_profile_path(profile.pack, profile)}
        .intro
          .image
          .preview
            %h2=profile.name
            %p= profile.quote
        .basics
          %p
            %span
              Age:
            =profile.age
          %p
            %span
              Occupation:
            = profile.occupation
        - unless profile.scalers.blank?
          - profile.scalers.each do |scaler|
            .block.grid-item
              %h2= scaler.name
              %p
                = scaler.scale
                \/
                = scaler.out_of
          %p.pack= profile.pack.name

%section.packs
  %h2 Packs

  %a.card.add{:href => new_pack_path}
    .intro
      .preview
        .image
        %h3 Add new pack

  - @packs.each do |pack|
    %a.card.pack{ href: pack_path(pack) }
      .intro
        .preview
          .image
          %h3= pack.name

  -unless @user
    %h3
      - if !user_signed_in?
        =link_to 'Sign in', new_user_session_path
        to create your own decks



