%h1 Who are you designing for?
%br

%section.featured
  %h2 Random set

  - @packs.each do |pack|
    - pack.profiles.each do |profile|
      %a.card.profile.view{:href => pack_path(pack)}
        .intro
          .image
          .preview
            %h2=profile.name
            %p= profile.quote
        .basics
          %p
            %span
              Age:
            =profile.age
          %p
            %span
              Occupation:
            = profile.occupation
          %p
            %span
              Considerations:
            = profile.considerations
          %p.pack= profile.pack.name

%section.packs
  %h2 Packs
  %a.card.add{:href => new_pack_path}
    .intro
      .preview
        .image
        %h3 Add new pack

  - @packs.each do |pack|
    %a.card.pack{ href: pack_path(pack) }
      .intro
        .preview
          .image
          %h3= pack.name

%section.decks
  %h2 Your decks
  -unless @user
    %h3
      - if !user_signed_in?
        =link_to 'Sign in', new_user_session_path
        to create your own decks
