%h1 Listing profile_characteristic_repeatables

%table
  %thead
    %tr
      %th Name
      %th Content
      %th Profile
      %th
      %th
      %th
      
  %tbody
    - @profile_characteristic_repeatables.each do |profile_characteristic_repeatable|
      %tr
        %td= profile_characteristic_repeatable.name
        %td= profile_characteristic_repeatable.content
        %td= profile_characteristic_repeatable.profile
        %td= link_to 'Show', profile_characteristic_repeatable
        %td= link_to 'Edit', edit_profile_characteristic_repeatable_path(profile_characteristic_repeatable)
        %td= link_to 'Destroy', profile_characteristic_repeatable, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Profile characteristic repeatable', new_profile_characteristic_repeatable_path
