= form_for @pack do |f|

  - if @pack.errors.any?
    #error_explanation
      %h2
        = pluralize(@pack.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @pack.errors.full_messages.each do |msg|
          %li= msg

  = f.file_field :image

  = f.label :name
  = f.text_field :name

  = f.label :is_public, "Make this pack private"
  = f.check_box :is_public
  .clear
  %br

  = f.hidden_field(:created_by, :value => current_user.id)

  = f.submit :class => 'button'

