!!!
%html
  %head
    %title WhoFor
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'print', :media => 'print'
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
  %body{body_tags}


    :javascript
      $(document).ready(function() {
        return $('.grid').masonry({
          percentPosition: true,
          itemSelector: '.grid-item'
        });
      });

      $(document).ready(function() {
        return $('.scaler').each(function() {
          var percentage, quantity, total;
          quantity = $(this).find('.quantity').text();
          total = $(this).find('.total').text();
          percentage = Math.floor(quantity / total * 100);
          return $(this).find('.scale-background .scale').css("width", percentage + "%");
        });
      });


    = render("shared/nav")
    %main
      = yield
